.description-wrapper{
  margin-top: 42.5px;
  width: 100%;
  display: grid;
  justify-items: center;
}

.description{
  width: 51.7%;
  display: grid;
  grid-template-columns: repeat(2,auto);
}

.description > .des-child{
  justify-self: left;
}

.description > .des-child > p{
  font-family: 'Roboto';
  line-height: 18px;
  font-size: 9px;
  color: #8c8c8c;
  font-weight: normal;
    font-style: italic;
}

.description > .des-button{
  margin-left: 200px;
  height: 34.5px;
  width: 143px;
  justify-self: right;
  
}

.des-button > button{
  cursor: pointer;
}

.des-button > button > span:nth-child(1){
  vertical-align: middle;
  font-size: 7px;
  color: white;
}

.des-button > button > span:nth-child(2){
  vertical-align: middle;
  font-weight: bold;
  font-size: 9px;
  text-transform: uppercase;
  color: white; 
}

.des-button > button{
  background-color: #4a90e2;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: 144px;
}

.title-wrapper{
  margin-top:54px;
  display: grid;
  justify-items: center;
}

.title-list{
  display: grid;
  grid-template-columns: repeat(7,auto);
  text-transform: uppercase;
  color: #808080;
  font-family: 'Roboto';
  font-size: 12px;
  width: 51.7%;
  /* border-bottom: 1px dotted #808080; */
}


.title-list >div{
  margin-bottom: 9px;
}

.title-list >div:nth-child(1){
  width: 45px;
}

.title-list >div:nth-child(3){
  margin-left: 51.5px;
}

.title-list >div:nth-child(4){
  margin-left: 30px;
}

.title-list >div:nth-child(5){
  margin-left: 27.5px;
}

.course-list{
  width: 100%;
  display: grid;
  justify-items: center;
}

.course-list > .course{
  margin-bottom: 17.5px;
  border-top: 1px dotted #8c8c8c;
  width: 51.7%;
  display: grid;
  grid-template-columns: 10.5% 22.5% 16.5% 20.1% 9.8% 10.5% auto;
}
.course > div{
  margin-top: 16px;
}
.course-pic > div{
  background-image: url('../img/avatar.jpg');
  background-size: 90px 65px;
  height: 52.5px;
  width: 52.5px;
  border-radius: 10px;
}

.des{
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  margin-top: 11px;
}
.code{
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Roboto';
  font-size: 11px;
  color: #8c8c8c;
}

.category{
  font-family: 'Roboto';
  font-size: 11px;
  color: #8c8c8c;
}

.category > p{
  margin-top: 20.5px;
}

.course-cate-card{
  margin-top: 14px;
}

.creator > div{
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2,auto);
}
.creator > div:nth-child(1){
  width: fit-content;
}

.creator-ava > div {
  height: 23.5px;
  width: 23.5px;
  margin-top: 13px;
}
.creator-ava > div > img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.creator-details{
  font-family: 'Roboto';
  margin-top: 16px;
  margin-left: 12px;  
}

.creator-name{
  font-size: 11px;
}

.creator-date{
  font-size: 9px;
  color: #8c8c8c;
}

.draft{
  margin-top: 16px;
  text-transform: uppercase;
  background-color: #d6e0ed;
  font-family: 'Roboto';
  font-size: 9px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

.draft > p{
  padding: 6.5px 7.5px;
}

.slot-number{
  margin-top: 16px;
  width: fit-content;
  height: fit-content;
  background-color: #d6e0ed;
  font-family: 'Roboto';
  font-size: 9px;
  border-radius: 5px;
  text-align: center;
}

.slot-number > p{
  padding: 6.5px 7.5px;
}

.edit{
  color: #d9d9d9;
}

.remove{
  color: #d9d9d9;
}

.icon-edit-remove > div{
  margin-top: 19.5px;
  display: grid;
  grid-template-columns: repeat(3,auto);
}

.icon-edit-remove > div > div{
  cursor: pointer;
}

.icon-edit-remove > div > div:nth-child(2){
  height: 12px;
  cursor: default;
  width: 0px;
  border: .5px solid #e8e8e8;
}

.loading-wrapper{
  margin-top: 85px;
  width: 100%;
  display: grid;
  justify-items: center;
  margin-bottom: 100px;
}

.loading{
  width: 51.7%;
  text-align: center;
  
}

.loading > span:nth-child(1){
  vertical-align: middle;
}

.loading > span:nth-child(2){
  color: #b4bcc3;
  font-family: 'Roboto';
  font-size: 10px;
}

.live{
  background-color: #4a90e2;
  color: white;
}

.icon-loading{
  color: #b4bcc3;
  font-size: 13px;
}