.description-wrapper{
  margin-top: 42.5px;
  width: 100%;
  display: grid;
  justify-items: center;
}

.description{
  max-width: 745px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
}

.description > .des-child{
  justify-self: left;
}

.description > .des-child > p{
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-size: 9px;
  color: #8c8c8c;
  font-weight: normal;
  font-style: italic;
}

.description > .des-button{
  height: 34.5px;
  width: 143px;
  justify-self: right;
}

.des-button > button{
  cursor: pointer;
}

.add-new-course{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
}

.add-new-course > span:nth-child(1){
  font-size: 7px;
  color: white;
}

.add-new-course >  span:nth-child(2){
  font-weight: bold;
  font-size: 9px;
  padding-left: 5px;
  text-transform: uppercase;
  color: white; 
}

.des-button > button{
  background-color: #4a90e2;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: 144px;
}

.title-wrapper{
  margin-top:54px;
  display: grid;
  justify-items: center;
}

.title-list{
  display: grid;
  grid-template-columns: repeat(7,auto);
  text-transform: uppercase;
  color: #808080;
  font-size: 12px;
  width: 100%;
  max-width: 745px;
}


.title-list >div{
  margin-bottom: 9px;
}

.title-list >div:nth-child(1){
  width: 45px;
}

.title-list >div:nth-child(3){
  margin-left: 51.5px;
}

.title-list >div:nth-child(4){
  margin-left: 30px;
}

.title-list >div:nth-child(5){
  margin-left: 27.5px;
}

.course-list{
  width: 100%;
  display: grid;
  justify-items: center;
}

.course-list > .course{
  margin-bottom: 17.5px;
  border-top: 1px dotted #8c8c8c;
  width: 100%;
  max-width: 745px;
  display: grid;
  grid-template-columns: 10.5% 22.5% 16.5% 20.1% 9.8% 10.5% auto;
}
.course > div{
  margin-top: 16px;
}
.course-pic {
 max-width: 52.5px;
 max-height: 52.5px;
 height: 100%;
 width: 100%;
  border-radius: 10px;
}

.des{
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  margin-top: 11px;
}
.code{
  cursor: pointer;
  margin-top: 10px;
  font-size: 11px;
  color: #8c8c8c;
}

.category{
  font-size: 11px;
  color: #8c8c8c;
}

.category > p{
  margin-top: 20.5px;
}

.course-cate-card{
  margin-top: 14px;
}
.creator > div{
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2,auto);
}
.creator > div:nth-child(1){
  width: fit-content;
}

.creator-ava > div {
  height: 23.5px;
  width: 23.5px;
  margin-top: 13px;
}
.creator-ava > div > img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.creator-details{
  margin-top: 16px;
  margin-left: 12px;  
}

.creator-name{
  font-size: 11px;
}

.creator-date{
  font-size: 9px;
  color: #8c8c8c;
}

.draft{
  padding: 6.5px 7.5px;
  margin-top: 16px;
  text-transform: uppercase;
  background-color: #d6e0ed;
  font-size: 9px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

.slot-number{
  margin-top: 16px;
  width: fit-content;
  height: fit-content;
  background-color: #d6e0ed;
  font-size: 9px;
  border-radius: 5px;
  text-align: center;
}

.slot-number > p{
  padding: 6.5px 7.5px;
}

.edit{
  color: #d9d9d9;
}

.remove{
  color: #d9d9d9;
}

.icon-edit-remove > div{
  margin-top: 19.5px;
  display: grid;
  grid-template-columns: repeat(3,auto);
}

.icon-edit-remove > div > div{
  cursor: pointer;
}

.icon-edit-remove > div > div:nth-child(2){
  height: 12px;
  cursor: default;
  width: 0px;
  border: .5px solid #e8e8e8;
}

.loading-wrapper{
  margin-top: 85px;
  width: 100%;
  display: grid;
  justify-items: center;
  margin-bottom: 100px;
}

.loading{
  width: 100%;
  max-width: 745px;
  text-align: center;
}

.loading > span:nth-child(1){
  vertical-align: middle;
}

.loading > span:nth-child(2){
  color: #b4bcc3;
  font-size: 10px;
}

.live{
  background-color: #4a90e2;
  color: white;
}

.icon-loading{
  color: #b4bcc3;
  font-size: 13px;
}
.icon-add{
  color: white;
}

.icon-edit{
  color: #d9d9d9;
}

.icon-delete{
  color: #d9d9d9;
}

.on-hover-gray:hover{
  color: #a6a6a6;
}

.on-hover-gray:hover{
  color: #a6a6a6;
}

@media (max-width:785px){
  .description{
    max-width: 600px;
  }
  .title-list{
    max-width: 600px;
  }
  .course-list > .course{
    max-width: 600px;
  }
  .creator{
    margin-left: 10px;
  }
  .status{
    margin-left: 10px;
  }
  .slot{
    margin-left: 10px;
  }
}

@media (max-width:640px){
  .description{
    max-width: 400px;
  }

  .description > .des-child{
    justify-self: center;
  }

  .description > .des-button{
    justify-self: center;
    margin-top: 20px;
  }
  .title-list{
    display: none;
  }
  
}

@media (max-width:480px){
  .course-list > .course{
    grid-template-columns: 15% 31% 3.5% 20.1% 9.8% 10.5% auto;
  }
}

@media (max-width:440px){
  .description{
    max-width: 280px;
  }
}