input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}

.login-modal-wrapper{
  display: flex; 
  align-items: center;
  justify-content: center;
  position: fixed; 
  z-index: 95; 
  left: 0;
  top:0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.6); 
}

.login-modal-outside{
  display: grid;
  grid-template-rows: 30% 30% 30% auto;
  justify-items: center;
  max-width: 400px;
  width: 100%;
  height: 50%; 
  overflow: auto; 
  background-color: white; 
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
	animation: zoom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.user-title{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.login-close {
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #bbb;
  position: absolute;
	font-weight: bold;
	transition: 0.3s;
}

.login-close:hover,
.login-close:focus {
	color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

.random-gray-div{
  background-color: #F4F4F4;
  height: 100%;
  width: 100%;
}

.login-modal{
  display: block;
  width: 80%;
  height: 100%;
}

.typein-field{
  margin: 10px 0px;
  border: 1px solid black;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-items: center;
}

.em-male-student, .em-key,.em-email,.em-repeat{
  align-self: center;
  color: black;
  font-size: 20px;
}

.button-login-group{
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.button-login-group > button{
  border-radius: 2px;
    width: 80%;
    height: 37px;
}

.shiny-btn{
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #4a90e2;
  background-size: contain;
  background-position: -200px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: transform .3s ease-in-out;
}
.shiny-btn:hover{
  transform: scale(1.05);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shiny-btn:active{
  transform: scale(1);
  background-position: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
    
.create-new-acc{
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}

.create-new-acc > span > a{
  color: #4a90e2;
}

.create-new-acc > span > a:visited{
  color: #4a90e2;
}

.create-new-acc > span > a:active{
  color: #4a90e2;
}

.modal-register-wrapper{
  z-index: 99;
  display: none;
  background-color: transparent
}

.register-modal-outside{
  height: 70%;
  grid-template-rows: 20% 45% 25% auto;
}

/* @media (max-width: 785px){
  .register-modal-outside, .login-modal-outside{
    width: 45%;
  }
}

@media (max-width: 640px){
  .register-modal-outside, .login-modal-outside{
    width: 55%;
  }
}
*/
@media (max-width: 440px){
  .login-modal-outside{
    max-width: 300px;
  }
}