.alert-area {
  max-height: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  
}
.alert-box{
  font-size: 10px;
  color: white;
  background: #4a90e2;
  line-height: 1.3em;
  padding: 9px 30px 9px 15px;
  margin: 5px 10px;
  position: relative;
  border-radius: 5px;
  animation: slide-in-fwd-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.error{
  background: rgb(202, 60, 60);
}

@keyframes slide-in-fwd-right {
  0% {
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.hide{
  opacity: 0;
}

.alert-close {
  background: transparent;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 15px;
  right: 20px;
  animation: slide-in-fwd-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.alert-close:before,
.alert-close:after {
  content: '';
  width: 9px;
  border-top: solid 2px white;
  position: absolute;
  top: 5px;
  right: -1px;
  display: block;
}

.alert-close:before {
  transform: rotate(45deg);
}

.alert-close:after {
  transform: rotate(135deg);
}

.alert-close:hover:before,
.alert-close:hover:after {
  border-top: solid 2px #d8d8d8;
}